<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>com.example.sessionservlet.Filter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/Private/*</url-pattern>
    </filter-mapping>

    <session-config>
        <session-timeout>1</session-timeout>
    </session-config>

    <error-page>
        <exception-type>jakarta.servlet.ServletException</exception-type>
        <location>/public/error.html</location>
    </error-page>

</web-app>
